<div class="row">
  <div class="col-xs-12">
    <h1>Custom Event Configuration</h1>
    <br>

    <label> Server Name</label>
    <input type="text"
    class="form-control"
    #inputRef>

    <hr>
    <label> Server Content</label>
   <!-- using local refrences instead of two-way binding -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <input type="text"
    class="form-control"
    #serverContentInput>

    <button class="btn btn-primary" (click)="serverAdded(inputRef)">Add Server</button>

    <button class="btn btn-success" (click)="blueprintAdded(inputRef)">Add Bluprint</button>
  </div>
</div>
